*,
*::after,
*::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (min-width: 768px) {
  html {
    font-size: 66%;
  }
}

body {
  font-size: 1.6rem;
}

button {
  background: none;
  border: none;

  &.btn {
    width: 2rem;
  }
}

img {
  max-width: 100%;
  display: block;
}
