@use "../../../stylesheet/mixins" as *;
@use "../../../stylesheet/variables" as *;

.blog-post {
  width: 100%;
  @include flex-column(flex-start, flex-start, 2rem);

  .logo {
    width: 100%;
    @include flex-row(flex-end, flex-end, 0.4rem);
    background-color: $color-200;
    color: $white;
    font-size: 3rem;
    padding: 1rem;

    span {
      color: $color-100;
    }
  }

  .profile {
    width: 100%;
    padding: 1rem 0;
  }

  .post {
    width: 100%;
    background-color: #f8f8f8;
    padding: 1.5rem;
    border-radius: 1.2rem;
    cursor: pointer;

    .post-div {
      width: 100%;
      @include flex-column(flex-start, flex-start, 1rem);

      .post-content {
        width: 100%;
        @include flex-row(flex-start, space-between);


        .createdAt {
          font-size: 1.2rem;
        }
      }

      .post-actions {
        width: 100%;
        @include flex-row(center, space-between);

        button {
          background: none;
          border: none;
          position: relative;

          .img-div {
            width: 4rem;
          }

          .number {
            @include flex-column(center, center);
            position: absolute;
            top: 0;
            background: $color-100;
            padding: 1rem;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            text-align: center;
            color: $white;
          }
        }

        .actions {
          @include flex-row(center, center, 1rem);

          button {
            cursor: pointer;
            width: 2.5rem;
          }
        }

        .add {
          width: 2.5rem;
          cursor: pointer;
        }
      }
    }

    .comment-div {
      width: 100%;

      ul {
        width: 100%;
        @include flex-column(flex-start, flex-start, 1rem);

        .comment {
          width: 100%;
          background-color: $white;
          padding: 1.2rem;
          border-radius: 1.5rem;
        }
      }
    }
  }
}


@media (min-width: 768px){
  .blog-post {
    max-width: 768px;
    margin: auto
  }
}
