/* You can add global styles to this file, and also import other style files */
@use "./stylesheet/reset" as *;
@use "./stylesheet/mixins" as *;
@use "./stylesheet/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

body {
  padding: 1.5rem;
  background-color: #ffffff;
  color: $color-300;
  font-family: "Afacad Flux", sans-serif;
}
